<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
  <div class="catcontainer">
  <h1>Catpictures</h1>
    <p>This is my second route</p>
    <img src="/images/kitten.jpg" alt="cat" class="catpicture"/>

    <a href="/">Back to Home</a>
  </div>
</body>
</html>